@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');



@import "tailwindcss";
 


@theme{
    --font-work-sans: 'Work Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-libertinus-math: 'Libertinus Math', serif;



    /* animations */
    --animate-rotate: rotate .5s linear infinite;
    @keyframes rotate {
        0% {
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          }
        100% {
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          }
      }
}

/* common css */
::-webkit-scrollbar {
    @apply hidden
  }


 